.loaderContainer {
    position: relative;
}

.loader {
    width: 200px;
    height: 200px;
    margin: 20% 40%;
    position: absolute;
    animation: loaderSelf 5s linear infinite;
}

.loader:before {
    position: absolute;
    content: '';
    width: 200px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(-30deg);
    animation: loader 0.5s ease infinite;
}

.loader:after {
    position: absolute;
    content: '';
    width: 200px;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: rotate(30deg);
    animation: loader 0.5s ease infinite;
}

@keyframes loader {
    50% {
        transform: rotate(0deg);
    }
}

@keyframes loaderSelf {
    0% {
        left: -300px;
        transform: rotateY(0deg);
    }

    48% {
        left: 300px;
        transform: rotateY(0deg);
    }

    52% {
        transform: rotateY(180deg);
    }

    98% {
        left: -300px;
        transform: rotateY(180deg);
    }

    100% {
        left: -300px;
    }
}

